{
  "dev": {
    "db": {
      "url": "mongodb://localhost:27017/tts-gateway"
    },
    "port": 3000,
    "agentPort": 3001,
    "slack" : {
      "token" : ""
    },
    "acapela" : {
      "username" : "",
      "password" : "",
      "login" : ""
    },
    "voicerss" : {
      "keys" : []
    }

},
  "staging": {
    "db": {
      "url": "mongodb://mongo.internal:27017/sb-tts-gateway"
    },
    "port": 3000,
    "agentPort": 3001,
    "slack" : {
      "token" : ""
    },
    "acapela" : {
      "username" : "",
      "password" : "",
      "login" : ""
    },
    "voicerss" : {
      "keys" : []
    }
},
  "production": {
    "db": {
      "url": "mongodb://mongo.internal:27017/tts-gateway"
    },
    "port": 3000,
    "agentPort": 3001,
    "slack" : {
      "token" : ""
    },
    "acapela" : {
      "username" : "",
      "password" : "",
      "login" : ""
    },
    "voicerss" : {
      "keys" : []
    }
  }
}